.header {
	width: 40rem;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	padding: 4rem 4rem;
	background-color: $color-grey-light;

	&--link {
		text-decoration: none;
		cursor: pointer;
	}

	&--section {
		position: fixed;
	}
}

.crystal {
	&__name {
		display: flex;

		&--icon {
			width: 5rem;
			height: 5rem;
		}

		&--name {
			margin: .5rem 1rem;
			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			color: $color-black;
		}
	}

	&__description {
		margin: 2rem 1rem;
	}
}