.navigation {
	margin: 2rem 1rem;

	&--header {
		font-weight: 700;
		margin: .5rem 0;
	}

	&--item {
		font-size: 1.25rem;
	}

	&--link {
		text-decoration: none;
		cursor: pointer;

		&,
		&:link,
		&:visited {
			color: $color-grey-dark;
		}

		&:hover {
			color: $color-primary-light;
		}

		&:active {
			color: $color-primary-dark;
		}
	}

	&--link-selected {
		&,
		&:link,
		&:visited {
			color: $color-primary-dark;
		}

		&:hover {
			color: $color-primary-light;
		}
	}
}